<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= current_page.data.title %></title>
  <%= stylesheet_link_tag 'shared' %>
  <% if current_page.data.css %>
    <%= stylesheet_link_tag current_page.data.css %>
  <% end %>
</head>
<body>

  <%= partial 'nav' %>

  <%= yield %>

  <%= javascript_include_tag 'shared/google-analytics' %>

</body>
</html>
