<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Calculator</title>
  <%= stylesheet_link_tag 'shared' %>
  <%= stylesheet_link_tag 'calculator' %>

  <%= javascript_include_tag 'vendor/angular-loader' %>
</head>
<body>

  <%= partial 'nav' %>

  <div class="container" ng-controller="CalcCtrl">

    <ul class="calculator clearfix">
      <li class="result">{{result}}</li>
      <li ng-repeat="button in buttons" class="{{button.type}}" ng-click="buttonClick(button)">
        {{button.value}}
      </li>
      <li ng-click="calculate()" class="enter">=</li>
    </ul>

  </div>

  <script data-main="/javascripts/calculator/main" src="/javascripts/vendor/require.js"></script>

  <%= javascript_include_tag 'shared/google-analytics' %>
</body>
</html>
